.gameMessage {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.black {
    color: #99A43A;
}

.correct {
    color: #F6AE26;
}

.incorrect {
    color: darkred;
    -webkit-text-stroke: 1px black;
}