.playerCard {
    margin-right: 11px;
    margin-bottom: 11px;
    width: 175px;
    height: 175px;
    background-size: cover;
    border-radius: 6px;
    box-shadow: 12px 12px 12px black;
}

/* img {
    height: 175px;
    width: 175px;
} */
.playerCard:hover {
    border: 3px solid yellow;
    cursor: pointer;
}

.playerCard:active {
    background-color: lime;
}


@media (max-width: 750px) {

    .playerCard {
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 400px) {

    .playerCard {
        height: 75px;
        width: 75px;
    }
}