.jumbotron {
    box-shadow: 0 2px 5px 0 red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bolder;
    background-color: rgba(255, 0, 0, 0.596);
    color: white;
    /* -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px; */
    text-shadow: 7px 7px 7px black;
}

.instructions {
    text-align: center;
}

.jumbo {
    margin-top: 70px; 
}

