.footer {
    position: relative;
    bottom: 0;
    margin: 0 auto;
    background: blue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    min-height: 45px;
    color: white;
    font-size: 25px;
    border-top: 2px solid black;
    

}

li {
    color: white;
}

@media (min-height: 860px) and (min-width: 1000px) {

    .footer {
        position: absolute;
        bottom: 0;
    }   
}